{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "overrides": [
    {
      "options": {
        "filepath": "*.{js,jsx,ts,css,json,html,scss}",
        "tabWidth": 2
      }
    }
  ],
  "endOfLine": "auto"
}
